/* Base rules */

*, ::before, ::after {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


h2, h2 span, h2 input{
    font-size: 4rem;
}

h2 input {
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 0.06em;
    min-width: 500px;
    border: none;
    border-bottom: 5px solid ;
    color: rgba(236, 110, 76, 255);
    outline: none;
}

.container {
    display: flex;
}

.appLayout {
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

/* .switchDegree {
    font-size: larger;
    color: rgb(222, 131, 33);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 5px rgba(236, 110, 76, 255);
    margin: 5rem;
    align-self: flex-end;
} */

form button[type='submit'] 
{
        position: relative;
        bottom: 0.85rem;
        appearance: none;
        background-color: transparent;
        border: 4px solid rgba(236, 110, 76, 255);
        border-radius: 0.6em;
        color: rgba(236, 110, 76, 255);
        cursor: pointer;
        font-size: 0.75rem;
        font-weight: 900;
        margin: auto;
        padding: 0.75rem;
        text-decoration: none;
        text-align: center;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

form button[type='submit']:hover,
form button[type='submit']:focus 
{
    background-color: rgba(236, 110, 76, 255);
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px rgba(236, 110, 76, 255) inset;
    animation: animButton 5s ease 0s 4 normal forwards;
}

.currentDay
{
    border: rgba(236, 110, 76, 255);
    border-radius: 2.5rem;
    width: 900px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nextDays {
    border: rgba(236, 110, 76, 255);
    border-radius: 2.5rem;
    width: 900px;
    height: 270px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 220, 174);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.currentDay>div,.currentIcon
{
    flex-grow: 1;
    margin: auto;
    width: 280px;
    height: 280px;
}

.currentDay-Infos, .currentDay-Temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.currentDay-Infos>div {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.currentDay-Infos>div>h4 {
    margin: auto 0.5rem;
}

.daysAfter {
    margin: 0.5rem;
    padding: 0.5rem;
}

.daysAfter>h4 {
    margin-top: 0.5rem;
}

.tempOtherDay {
    margin: 0.5rem;
}

.tempOtherDay>div {
    margin: 0.25rem auto;
}

.tempOtherDay>h6 {
    margin: 0.5rem auto 0.25rem auto;
}

.linebreak {
    letter-spacing: -0.15rem;
}

@keyframes animButton {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}