/* Base rules */

*, ::before, ::after {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    
}

h2, h2 span, h2 input{
    font-size: 4rem;
}

h2 input {
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 0.06em;
    min-width: 500px;
    border: none;
    border-bottom: 5px solid ;
    color: rgba(236, 110, 76, 255);
    outline: none;
}

.container {
    display: flex;
}

.appLayout {
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

/* .switchDegree {
    font-size: larger;
    color: rgb(222, 131, 33);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 5px rgba(236, 110, 76, 255);
    margin: 5rem;
    align-self: flex-end;
} */

form button[type='submit'] 
{
        position: relative;
        bottom: 0.85rem;
        appearance: none;
        background-color: transparent;
        border: 4px solid rgba(236, 110, 76, 255);
        border-radius: 0.6em;
        color: rgba(236, 110, 76, 255);
        cursor: pointer;
        font-size: 0.75rem;
        font-weight: 900;
        margin: auto;
        padding: 0.75rem;
        text-decoration: none;
        text-align: center;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

form button[type='submit']:hover,
form button[type='submit']:focus 
{
    background-color: rgba(236, 110, 76, 255);
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px rgba(236, 110, 76, 255) inset;
}
